.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* same style */
.primary-color{
    color: rgba(78, 71, 255, 1);
}
.primary-btn{
    background-color: rgba(89, 71, 255, 1);
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
}
/* header style */

.header{
    background-image: url(../images/Hero-bg.png);
    
}


/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    align-items: center;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
}

/* banner style */
.banner{
    text-align: center;
    padding: 150px 260px 150px 260px;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}


/* main style */


main{
    max-width: 1140px;
    margin: 0 auto;
}


/* action style */

.action{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.left-action{
    width: 500px;
}
.action .action-title{
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}
.action .action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);

}
.action img{
    border-radius: 48px;
}

/* user style */
.user{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 140px;
    margin-top: 116px;
}
.user-title{
    color: rgba(37, 36, 50, 1);
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    margin: 0;
}
.users-data{
    display: flex;
    justify-content: space-around;
}
.user-data .user-sub-title{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
}

.user-data .user-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}